<h1 class='page-header'>Log Game</h1>

<%= form_for Game.new do |f| %>
  New Game:
  <ul>
    <li>
      <%= f.label :date_played %>
      <%= f.date_field :date_played %>

      <%= f.label :oponent_id %>
      <%= f.collection_select(:oponent_id, User.all, :id, :email) %>

      <%= f.label :user_score %>
      <%= f.number_field :user_score %>

      <%= f.label :oponent_score %>
      <%= f.number_field :oponent_score %>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
